@import url('https://fonts.googleapis.com/css?family=Roboto');

$fontStack: 'Roboto', sans-serif;
$mainFontSize: 10pt;

$primaryAccentColour: #2a67da;
$primaryFrontColour: #FFF;
$primaryBackColour: #FFF;
$borderColour: #b9b9b9;
$actionIconColour: #757575;